/* TODO bardzo prosty sposób na obracanie obrazka na kształt kręcącego się winyla. Do włączenia na odtwarzaniu albumu.
img {
  animation: 5s animateImage infinite;
  animation-timing-function: linear;
  border-radius: 100%
}

@keyframes animateImage {
  100% {
    transform: rotate(360deg);
  }
} */
